body {
    margin: 0;
    padding: 0;
    background-image: url('images/emerald.jpg');
    background-size: cover; /* Để đảm bảo hình ảnh nền được kích thước đúng */
    background-position: center; /* Để canh chỉnh vị trí của hình ảnh nền */
    background-repeat: no-repeat; /* Không lặp lại hình ảnh nền */
    font-family: Arial, sans-serif; /* (Nếu bạn muốn chỉ định font chữ) */
}

.content {
    /* Thêm các quy tắc CSS cho nội dung trang web của bạn tại đây */
    color: #ffffff; /* (Ví dụ) */
}
