body{
    margin: 0;
    padding: 0;
    background: url(media/emerald.png) no-repeat;
    background-size: cover; /* hoặc background-size: 50%; */
    background-position: center;
}
.content h1{
    font-size: 35px;
    font-family: Ariel;
    text-align: center; 
    
}
.content h2{
    font-size: 28px;
    font-family: Ariel;
    text-align: center; 
    
}
